.navbar {
  width: 100%;
  font-size: 45px;
  color: #ffffff;
  background-color: #ff0000;
  text-align: left;

}

body {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  margin-top: 88px;
}


.btn {
  font-weight: 900;
}


li:hover {
  cursor: pointer;
  color: #000000;
}


.pokemon-image {
  width: 200px;
  display: inline-block;
  float: left;
}

.pokemon-name {
  font-weight: 900;
  font-size: 32px;
  color: #ffffff;
  background-color: #ff0000;

}

.modal-body {
  font-weight: 900;
  font-size: 20px;
}
