header {
  width: 100%;
  font-size: 50px;
  color: black;
  background-color: white;
  text-align: center;
}

body {
  background-color: lightgray;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

li {
  list-style: none;
}

.btn {
  border-style: none;
  border: 3px solid gray;
  background-color: white;
  width: 50%;
  line-height: 30px;
  padding-left: 20px;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  width: 50%;
}

.button:hover {
  background-color: lightgray;
  cursor: pointer;
}
